@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{

}

<footer class="footerContainer">
	<div class="footerContent">
		<p class="footerText">© Onatrix. All Rights Reserved. Credits to <span class="footerHighlight">Themesflat</span></p>
	</div>
</footer>