@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation

@inject IVariationContextAccessor VariationContextAccessor
@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@


@{
	var rootContent = Umbraco.ContentAtRoot().FirstOrDefault();
	// var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();
	var selection = Model.Root().Children().Where(x => x.IsVisible()).ToArray();
}



<header class="NavHeader">
	<nav class="NavBar">
		<a href="/">
			<img src="/images/Brand.svg" alt="Site Logo" />
		</a>

		@if (selection?.Length > 0)
		{
			<ul class="NavBtns">
				@foreach (var item in selection)
				{
					<li class="@(item.IsAncestorOrSelf(Model) ? "current" : null)">
						<a href="@item.Url(PublishedUrlProvider)">@item.Name</a>
					</li>
				}
			</ul>
		}

		<div class="SearchIcon">
			<img src="/images/Search.svg" alt="Search Icon" />
		</div>

	</nav>
</header>