@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPageHeader>

@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation

@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedUrlProvider PublishedUrlProvider


@{ var selection = Model.Ancestors().ToArray(); }




<section class="PHContainer">
	<div class="PHWrapper">
		<h1>@Model.PageTitle</h1>
        <div class="BCWrapper">
            @if (selection?.Length > 0)
            {
                <ul class="breadcrumb">
                    @foreach (var item in selection.OrderBy(x => x.Level))
                    {
                        <li><a class="BCLink" href="@item.Url(PublishedUrlProvider)">@item.Name</a> <span class="divider">></span></li>
                    }

                    <li class="active">@Model.Name</li>
                </ul>
            }

        </div>

	</div>

</section>