@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{

}

<div class="topbarContainer">
	<div class="contentGroup">
		<p>Klarabergsviadukten 90, 111 64 Stockholm</p>
		<div class="SmGroup">
			<div>
				<img src="/images/facebook.svg" alt="facebook Icon" />
			</div>
			<div>
				<img src="/images/twitter.svg" alt="twitter Icon" />
			</div>
			<div class="last">
				<img src="/images/in.svg" alt="Linkedin Icon" />
			</div>

		</div>


	</div>
</div>