<?xml version="1.0" encoding="utf-8"?>
<Media Key="eeb71c70-220f-4487-892e-64273fe5c29f" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="2c98b549-a101-49b4-9ccc-a578d9bac3a4">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T23:06:05</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qkqbkdau/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>