<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcbff885-8010-4644-aaa7-011f4e1e4132" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="2c98b549-a101-49b4-9ccc-a578d9bac3a4">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T23:06:04</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o3cb0pql/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>