<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3cce062-0086-4774-90c1-851c1ec2a5a1" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="2c98b549-a101-49b4-9ccc-a578d9bac3a4">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T23:06:04</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sboh2qm3/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>