<?xml version="1.0" encoding="utf-8"?>
<Media Key="750791ce-73d0-4073-94c9-5e08bfcebff9" Alias="ContactPerson.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactPersonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T22:38:30</CreateDate>
    <NodeName Default="ContactPerson.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hqwklf4l/contactperson.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>