<?xml version="1.0" encoding="utf-8"?>
<Media Key="f40108cc-235b-4a5a-9a7a-93349df09f77" Alias="Financial-Advisor.svg" Level="2">
  <Info>
    <Parent Key="f05bcc26-eac7-4397-907e-9c408af195d7">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T20:40:45</CreateDate>
    <NodeName Default="Financial-Advisor.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h00lgfsa/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>