<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfd548e5-cf91-4cba-9f94-36e7031093b6" Alias="GroupImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GroupImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T20:28:19</CreateDate>
    <NodeName Default="GroupImage.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c50hoxmk/groupimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>