<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cdf1ce1-b86c-4858-ace9-7ecb3adadfa6" Alias="post2.svg" Level="2">
  <Info>
    <Parent Key="f05bcc26-eac7-4397-907e-9c408af195d7">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/post2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T17:58:02</CreateDate>
    <NodeName Default="post2.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/coqh11tx/post2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>