<?xml version="1.0" encoding="utf-8"?>
<Media Key="f05bcc26-eac7-4397-907e-9c408af195d7" Alias="Service Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-07T20:35:55</CreateDate>
    <NodeName Default="Service Thumbnails" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>