<?xml version="1.0" encoding="utf-8"?>
<Media Key="6399f473-be75-45e6-86eb-afb234388af9" Alias="sl-home2.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T21:50:58</CreateDate>
    <NodeName Default="sl-home2.svg (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qfedxalo/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>