<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a7dff70-146c-428d-a315-5f5b3403e84e" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T21:26:59</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qjbn5odx/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>