<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca1eed58-aa7c-4e9a-914f-23f2388df28b" Alias="SuccessImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T22:05:35</CreateDate>
    <NodeName Default="SuccessImage.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vjilykdh/successimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>