<?xml version="1.0" encoding="utf-8"?>
<Media Key="92e8be5a-bb5e-4c11-987c-7d72a431c7f6" Alias="Tax-and-Trusts.svg" Level="2">
  <Info>
    <Parent Key="f05bcc26-eac7-4397-907e-9c408af195d7">Service Thumbnails</Parent>
    <Path>/ServiceThumbnails/TaxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T20:40:45</CreateDate>
    <NodeName Default="Tax-and-Trusts.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vabfu2cf/tax-and-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>