<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c98b549-a101-49b4-9ccc-a578d9bac3a4" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T22:57:46</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>