<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb5f9fa2-88c6-4af1-9b28-50c1ba527297" Alias="Team" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Team</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T22:56:07</CreateDate>
    <NodeName Default="Team" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>