<?xml version="1.0" encoding="utf-8"?>
<Media Key="b81d8c5c-5681-4170-88f9-c3c4b05d5cf7" Alias="Tina-Fox-CEO.svg" Level="2">
  <Info>
    <Parent Key="2c98b549-a101-49b4-9ccc-a578d9bac3a4">Team Members</Parent>
    <Path>/TeamMembers/TinaFoxCEOsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T13:01:28</CreateDate>
    <NodeName Default="Tina-Fox-CEO.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vyyl4wu0/tina-fox-ceo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>