<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c3b8b22-aeae-4aa6-b3b1-b473e6b666a1" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d9c518b7-8585-42b6-9a9a-cba3c07250d0">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-05T20:24:54</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6428d664-d3a7-46e1-b20a-e18e9c0c6b3e">contactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4e76b2f7-6062-4c21-a0e1-bfd83e88753b",
      "key": "c415c4a0-ce7f-43a3-9372-dd9d822f50f7",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    },
    {
      "contentTypeKey": "3953ec3a-c063-45cc-b865-0de3af96c968",
      "key": "0d4be8ca-a027-48cb-81a5-3c93f2c0f05a",
      "udi": null,
      "values": [
        {
          "alias": "contentFormLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EREQUEST A CALL BACK\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your\u003Cbr\u003Enext project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactFormText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-regular\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022text-body-text\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c415c4a0-ce7f-43a3-9372-dd9d822f50f7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0d4be8ca-a027-48cb-81a5-3c93f2c0f05a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c415c4a0-ce7f-43a3-9372-dd9d822f50f7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0d4be8ca-a027-48cb-81a5-3c93f2c0f05a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>