<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9c518b7-8585-42b6-9a9a-cba3c07250d0" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-27T21:27:30</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a53aa62c-3be7-499c-af40-a93c4acc8fb4">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "128a2ef9-02a9-44e7-a779-4721ab17e6b1",
      "key": "a66eb928-6911-431f-8c2a-574ab60e80a0",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "86256203-4650-4f17-8d45-d2b0ba05e0c6",
              "mediaKey": "6399f473-be75-45e6-86eb-afb234388af9",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact us",
              "target": null,
              "udi": "umb://document/6c3b8b22aeae4aa6b3b1b473e6b666a1",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "c88356b8-fc0d-497e-96b3-43ecb2026fc0",
      "key": "9b9df678-3dd0-4bf0-a579-63d864b82648",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003C/p\u003E\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "1966d1c5-75cd-4f12-bee8-2f1767851cb0",
      "key": "287ec15a-21d9-414a-90e0-d63d4b98c74b",
      "udi": null,
      "values": [
        {
          "alias": "callbackLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "callbackTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "callbackQuote",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
        },
        {
          "alias": "callbackText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
        }
      ]
    },
    {
      "contentTypeKey": "f40d1742-a0dc-4d4f-9254-273f76296699",
      "key": "8486b4b2-ef9f-4eea-ac7c-2d1d3598c1f9",
      "udi": null,
      "values": [
        {
          "alias": "ourStoryTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003EWe are trusted by more than\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u003Cbr\u003E\u003C/span\u003E\u003Cspan class=\u0022text-secondary\u0022\u003E4.000\u002B clients\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "ourStoryText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-sm font-regular\u0022 style=\u0022text-align: center;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam \u003C/p\u003E\u003Cp class=\u0022text-rte-sm font-regular\u0022 style=\u0022text-align: center;\u0022\u003Eaccumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/p\u003E"
          }
        },
        {
          "alias": "ourStoryButtonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Read our story"
        },
        {
          "alias": "ourStoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b27e0016-c7e1-4a27-9ec4-efbd7b2e84f8",
              "mediaKey": "bfd548e5-cf91-4cba-9f94-36e7031093b6",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f7fd7ef0-644b-41d7-8099-55fb561d916a",
      "key": "9fb6c091-1237-4400-91fd-536cac4729a0",
      "udi": null,
      "values": [
        {
          "alias": "successStoryLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "successStoryTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "successStoryStat1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "689"
        },
        {
          "alias": "successStoryStat2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "370"
        },
        {
          "alias": "successStoryStat3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "125"
        },
        {
          "alias": "successStoryStatText1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 100 customers has been served"
        },
        {
          "alias": "successStoryStatText2",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 370 projects has been completed"
        },
        {
          "alias": "successStoryStatText3",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "More than 125 branches has been established in Europe and America"
        },
        {
          "alias": "successStoryImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "096d1d10-cd19-4d29-acbf-59b99cf6773c",
              "mediaKey": "ca1eed58-aa7c-4e9a-914f-23f2388df28b",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "08e11c89-5963-45ce-ab42-5ae4eaa397f7",
      "key": "e3008179-75e2-4f67-a8f2-763b8cedebe5",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a66eb928-6911-431f-8c2a-574ab60e80a0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9b9df678-3dd0-4bf0-a579-63d864b82648",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "287ec15a-21d9-414a-90e0-d63d4b98c74b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8486b4b2-ef9f-4eea-ac7c-2d1d3598c1f9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9fb6c091-1237-4400-91fd-536cac4729a0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a66eb928-6911-431f-8c2a-574ab60e80a0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "287ec15a-21d9-414a-90e0-d63d4b98c74b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9b9df678-3dd0-4bf0-a579-63d864b82648",
        "contentUdi": null,
        "settingsKey": "e3008179-75e2-4f67-a8f2-763b8cedebe5",
        "settingsUdi": null
      },
      {
        "contentKey": "8486b4b2-ef9f-4eea-ac7c-2d1d3598c1f9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9fb6c091-1237-4400-91fd-536cac4729a0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>