<?xml version="1.0" encoding="utf-8"?>
<Content Key="7030fbbc-7413-4686-a97b-69977598ad37" Alias="Service" Level="2">
  <Info>
    <Parent Key="d9c518b7-8585-42b6-9a9a-cba3c07250d0">Home</Parent>
    <Path>/Home/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-28T20:37:20</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a488efff-c4cd-46a7-bf22-8c6f44adc0f1">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c88356b8-fc0d-497e-96b3-43ecb2026fc0",
      "key": "794600eb-b656-49cb-ac62-f772afda91b0",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "4e76b2f7-6062-4c21-a0e1-bfd83e88753b",
      "key": "fcf9d058-58e9-40c7-af4f-2450d8fdc731",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "08e11c89-5963-45ce-ab42-5ae4eaa397f7",
      "key": "d3a0209e-0a77-43ad-baca-c8676ff7ab68",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "794600eb-b656-49cb-ac62-f772afda91b0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fcf9d058-58e9-40c7-af4f-2450d8fdc731",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "794600eb-b656-49cb-ac62-f772afda91b0",
        "contentUdi": null,
        "settingsKey": "d3a0209e-0a77-43ad-baca-c8676ff7ab68",
        "settingsUdi": null
      },
      {
        "contentKey": "fcf9d058-58e9-40c7-af4f-2450d8fdc731",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>