*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-standard: "Poppins", sans-serif;
    --color-white: #ffffff;
    --color-primary: #4F5955;
    --color-secondary: #F2EDDC;
    --color-sub3: #D9C3A9;
    --color-Note-1: #9C9EA6;
    --bg-color-1: #f7f7f7;
    --bg-color-2: #C4C4C4;
    --border-color: #eaeaea;
    --body-text-color: #535656;
    --footer-bg-color: #0E0E0E;
}

html, body, a {
    margin: 0;
    padding: 0;
    font-family: var(--font-standard);
    font-size: 16px;
    font-style: normal;
    color: var(--color-primary);
    text-decoration: none;
}



.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.topbarContainer {
    background-color: var(--color-primary);
}

.contentGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.contentGroup p {
    display:flex;
    align-items: center;
    color: #ffffff;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}

.SmGroup {
    display: flex;
    align-items:center;
    justify-content: center;
}

.SmGroup div {
     padding: 1rem;
     border-left: 1px solid var(--border-color);
     cursor:pointer;
}

.last {
    border-right: 1px solid var(--border-color);
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0 0.75rem 0;
    max-width: 1200px;
    width: 100%;
}

.NavHeader {
    display:flex;
    align-items: center;
    justify-content:center;
}

.NavBtns {
    display: flex;
    gap: 4rem;
    list-style: none;
    padding:0;
}

.NavBtns a {
     text-decoration: none;
     color: var(--color-primary);
     font-weight: 700; 
}

    .NavBtns a:hover {
        color: var(--color-secondary);
    }

.current a {
    color: var(--color-sub3);
}

.SearchIcon {
    display: flex;
    align-items:center;
    justify-content: center;
    padding-left:130px;
}

.PHContainer {
    background-color: var(--bg-color-1);
    background-image: url('/images/Rectangle-Left.svg'), url('/images/Rectangle-Right.svg');
    background-position: bottom left, top right;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
}

.PHWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 5rem 0;
}

.PHWrapper h1 {
    font-size: 40px;
    margin:0;
}

.breadcrumb {
    list-style: none;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:0;
    padding:0;
}

.BCLink {
    font-size: 13px;
}

.divider {
    padding: 0 0.75rem 0 0.75rem;
    font-size: 13px;
}

.active {
    color: var(--color-sub3);
    font-size: 13px;
}

.Service-Section {
    padding-top: 4rem;
}

.service-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-wrapper p {
    margin: 0;
    padding: 0;
}

.my-grid {
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.Service-Item {
    background-color: var(--color-white);
    border: 1px solid var(--border-color);
    max-width:370px;
}

.Service-Item-Title {
    font-size: 22px;
    font-weight: 600;
    margin: 1.5rem;
}

.Service-Item-Description {
    font-size: 14px;
    font-weight: 400;
    color: var(--body-text-color);
    margin: 1rem;
}

.Hero-Section {
    position: relative;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.HeroBgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.HeroContent {
    height: 100%;
    max-width:570px; 
}

.HeroContent span {
    margin: 0;
}

.HeroContent p {
    margin: 0;
}

.HeroContent h1 {
      color: var(--color-primary);
      font-size: 70px;
      font-style: normal;
      font-weight: 700;
      margin-top:0;
      margin-bottom: 2rem;
      line-height: 5.5rem
}

.HeroText {
    color: var(--color-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.HeroBtn {
    display: inline-flex;
    padding: 15px 40px;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: var(--color-primary);
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 700;
    font-size:18px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-color: transparent;
}

.Label {
    color: var(--color-sub3);
    font-size: 14px;
    text-align:center;
    margin:0;
}

.Service-Title {
    font-size: 40px;
    margin-top:0;
}


.TeamContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TeamContent h2 {
    color: var(--color-sub3);
    font-size: 14px;
    font-weight: 700;
    margin-top: 4rem;
}

.TeamContent p {
    margin: 0;
    margin-bottom: 2rem;
}

.TeamContentTitle {
    color: var(--color-primary);
    font-size: 40px;
    font-weight: 700;
}

.Member-Name {
    margin: 0;
}

.MemberInfo {
    padding: 1rem;
    border: 1px solid #EAEAEA;
}

.MemberInfo p {
    margin: 0;
    color: var(--color-Note-1);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.MemberGroup {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 1200px;
}

.InfoCard {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.InfoCardTitle {
    color: var(--color-primary);
    font-size: 22px;
    font-weight: 600;
}

.InfoCardText {
    color: var(--body-text-color);
    font-size: 14px;
    font-weight: 400;
}

.HelpWrapper {
    position: relative;
    background: var(--color-primary);
    border-radius: 3px;
    margin-top: 2rem;
}

.HelpBgImage {
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}

    .HelpBgImage img {
        display: block;
        pointer-events: none;
    }

.HelpCard {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.6rem;
}

.HelpCardTitle {
    color: var(--color-secondary);
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.HelpCardText {
    color: var(--color-white);
    font-size: 14px;
    margin: 0;
}

.HelpForm input[type="email"] {
    width: 100%;
    padding: 1rem;
    background: var(--color-white);
    color: var(--body-text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    font: 400 14px var(--font-standard);
    outline: none;
    box-shadow: 0 2px 6px rgba(0,0,0,.06);

}

.HelpForm input::placeholder {
    color: var(--color-Note-1);
}

.ServiceDetailGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.ServiceDetailAside {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 25%;
}

.ServiceDetailLine {
    display: block;
    width: 1px;
    background-color: var(--border-color);
    margin: 3rem 0 3rem 0;
}

.Contact-Section {

}

.Contact-Section--default {
    background-color: var(--bg-color-1);
}

.Contact-Section--contact {
    background-color: var(--color-white);
}

.ServiceDetailContent {
    display: flex;
    flex-direction: column;
    width: 67%;
    margin: 3rem 0 3rem 0;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
}

.ContactContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}

.ContactContent h2 {
    max-width: 400px;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.ContactContent p {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.ContactContent span {
    color: var(--body-text-color);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.ContactGroup {
    display:flex;
    flex-direction:column;
    gap: 2rem;
}

.ContactGroupings {
    display: flex;
    gap: 0.5rem;
    align-items:self-start;
}

.ContactGroupings div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.MailIcon {
    padding-top: 4px;
}

.ContactImageGroup {
    position: relative;
}

.ContactImageGroup img {
    display:block;
}

.ContactImageAbsolute {
    position:absolute;
    bottom: 0;
}

.footerContainer {
    background-color: var(--footer-bg-color);
    padding: 1rem 0 1rem 0;
}

.footerText {
    font-size: 14px;
    width: 100%;
}

.footerText .footerHighlight {
    color: var(--color-sub3);
}

    .footerContent {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }










.rte img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* ================================
   XL (70px)
=================================== */
.text-rte-xl {
    font-size: 70px;
    line-height: 1.2;
}

    .text-rte-xl.font-light {
        font-weight: 300;
    }

    .text-rte-xl.font-regular {
        font-weight: 400;
    }

    .text-rte-xl.font-bold {
        font-weight: 700;
    }

/* ================================
   L (40px)
=================================== */
.text-rte-lg {
    font-size: 40px;
    line-height: 1.3;
}

    .text-rte-lg.font-light {
        font-weight: 300;
    }

    .text-rte-lg.font-regular {
        font-weight: 400;
    }

    .text-rte-lg.font-bold {
        font-weight: 700;
    }

/* ================================
   M (20px)
=================================== */
.text-rte-md {
    font-size: 20px;
    line-height: 1.5;
}

    .text-rte-md.font-light {
        font-weight: 300;
    }

    .text-rte-md.font-regular {
        font-weight: 400;
    }

    .text-rte-md.font-bold {
        font-weight: 700;
    }

/* ================================
   S (16px)
=================================== */
.text-rte-sm {
    font-size: 16px;
    line-height: 1.6;
}

    .text-rte-sm.font-light {
        font-weight: 300;
    }

    .text-rte-sm.font-regular {
        font-weight: 400;
    }

    .text-rte-sm.font-bold {
        font-weight: 700;
    }

/* ================================
   XS (14px)
=================================== */
.text-rte-xs {
    font-size: 14px;
    line-height: 1.6;
}

    .text-rte-xs.font-light {
        font-weight: 300;
    }

    .text-rte-xs.font-regular {
        font-weight: 400;
    }

    .text-rte-xs.font-bold {
        font-weight: 700;
    }

/* Primary Brand Color */
.text-primary {
    color: var(--color-primary);
}

/* Secondary Brand Color */
.text-secondary {
    color: var(--color-sub3);
}

/* Accent / Sub Color */
.text-sub3 {
    color: var(--color-secondary);
}

/* Note / Subtle Text */
.text-note {
    color: var(--color-Note-1);
}

/* General Body Text */
.text-body-text {
    color: var(--body-text-color);
}

/* Body Text Light */
.text-body-text-100 {
    color: var(--color-white);
}


/* Primary Background */
.bg-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Secondary Background */
.bg-secondary {
    background-color: var(--color-sub3);
    color: var(--color-primary);
}

/* Sub Accent Background */
.bg-sub3 {
    background-color: var(--color-sub3);
    color: var(--color-primary);
}

/* Note Background */
.bg-note {
    background-color: var(--color-Note-1);
    color: var(--color-white);
}

/* Body Background */
.bg-body {
    background-color: var(--bg-color-1);
    color: var(--body-text-color);
}

/* White Background */
.bg-white {
    background-color: var(--color-white);
    color: var(--color-primary);
}

/* Border Helper */
.border-default {
    border: 1px solid var(--border-color);
}

.rte-ul {
    list-style-type: disc; 
    padding-left: 1.5rem; 
    margin: 1rem 0; 
    color: var(--body-text-color); 
    font-family: var(--font-standard);
    font-size: 16px;
    line-height: 1.6;
}

    .rte-ul li {
        color: var(--body-text-color);
        font-size: 14px;
        line-height: 1.6;
    }

    .rte-ul li::marker {
        color: var(--color-sub3);
    }