*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font-standard: "Poppins", sans-serif;
    --color-white: #ffffff;
    --color-primary: #4F5955;
    --color-secondary: #F2EDDC;
    --color-sub3: #D9C3A9;
    --color-Note-1: #9C9EA6;
    --bg-color-1: #f7f7f7;
    --bg-color-2: #C4C4C4;
    --border-color: #eaeaea;
    --body-text-color: #535656;
    --footer-bg-color: #0E0E0E;
    --review-text-color: #999;
    --review-name-color: #2D303A;
}

html, body, a {
    margin: 0;
    padding: 0;
    font-family: var(--font-standard);
    font-size: 16px;
    font-style: normal;
    color: var(--color-primary);
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.topbarContainer {
    background-color: var(--color-primary);
}

.contentGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.contentGroup p {
    display:flex;
    align-items: center;
    color: #ffffff;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}

.SmGroup {
    display: flex;
    align-items:center;
    justify-content: center;
}

.SmGroup div {
     padding: 1rem;
     border-left: 1px solid var(--border-color);
     cursor:pointer;
}

.last {
    border-right: 1px solid var(--border-color);
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0 0.75rem 0;
    max-width: 1200px;
    width: 100%;
}

.NavHeader {
    display:flex;
    align-items: center;
    justify-content:center;
}

.NavBtns {
    display: flex;
    gap: 4rem;
    list-style: none;
    padding:0;
}

.NavBtns a {
     text-decoration: none;
     color: var(--color-primary);
     font-weight: 700; 
}

.NavBtns a:hover {
    color: var(--color-secondary);
}

.current a {
    color: var(--color-sub3);
}

.SearchIcon {
    display: flex;
    align-items:center;
    justify-content: center;
    padding-left:130px;
}

.PHContainer {
    background-color: var(--bg-color-1);
    background-image: url('/images/Rectangle-Left.svg'), url('/images/Rectangle-Right.svg');
    background-position: bottom left, top right;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
}

.PHWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0 5rem 0;
}

.PHWrapper h1 {
    font-size: 40px;
    margin:0;
}

.breadcrumb {
    list-style: none;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:0;
    padding:0;
}

.BCLink {
    font-size: 13px;
}

.divider {
    padding: 0 0.75rem 0 0.75rem;
    font-size: 13px;
}

.active {
    color: var(--color-sub3);
    font-size: 13px;
}

.Service-Section {
    padding-top: 4rem;
}

.service-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-wrapper p {
    margin: 0;
    padding: 0;
}

.my-grid {
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.Service-Item {
    background-color: var(--color-white);
    border: 1px solid var(--border-color);
    max-width:370px;
}

.Service-Item-Title {
    font-size: 22px;
    font-weight: 600;
    margin: 1.5rem;
}

.Service-Item-Description {
    font-size: 14px;
    font-weight: 400;
    color: var(--body-text-color);
    margin: 1rem;
}

.Hero-Section {
    position: relative;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.HeroBgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.HeroContent {
    height: 100%;
    max-width:570px; 
}

.HeroContent span {
    margin: 0;
}

.HeroContent p {
    margin: 0;
}

.HeroContent h1 {
      color: var(--color-primary);
      font-size: 70px;
      font-style: normal;
      font-weight: 700;
      margin-top:0;
      margin-bottom: 2rem;
      line-height: 5.5rem
}

.HeroText {
    color: var(--color-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.HeroBtn {
    display: inline-flex;
    padding: 15px 40px;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: var(--color-primary);
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 700;
    font-size:18px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-color: transparent;
}

.CallbackContainer {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 6rem;
    position: relative;
}

.CallbackContent {
    display: flex;
    flex-direction: column;
    max-width: 680px;
}

.CallbackContent h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 2rem;
}

.CallbackContent h4 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-sub3);
}

.CallbackContent p {
    margin: 0;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    color: var(--body-text-color);
    padding-bottom: 0.75rem
}

.CallbackContent span {
    font-size: 14px;
    font-weight: 400;
    color: var(--body-text-color);
}

.CallbackSignature {
    width: 161px;
    height: 76px;
    flex-shrink: 0;
    margin-top: 1rem;
}

.CallbackCard {
    max-width: 470px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.10);
    position: absolute;
    right: 0;
    top: -1.5rem;
}

.CallbackCard h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    margin: 0;
    padding: 1.5rem;
}

.CallbackForm {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
}

.CallbackForm span {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
}

.CallbackForm input,
.CallbackForm select {
    width: 100%;
    height: 48px;
    padding: 0 1rem;
    border: 1px solid var(--border-color);
    background: var(--color-white);
    font: 400 14px var(--font-standard);
    color: var(--body-text-color);
}

.CallbackForm input::placeholder {
    color: var(--color-Note-1);
}

.CallbackForm select {
    appearance: none; 
    background-image: url('/images/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 12px;
    cursor: pointer;
}

.CallbackForm button {
    display: inline-block;
    padding: 0.75rem 2rem;
    border: none;
    background: var(--color-secondary);
    color: var(--color-primary);
    font: 700 16px var(--font-standard);
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.Label {
    color: var(--color-sub3);
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.Service-Title {
    font-size: 40px;
    margin-top:0;
}

.OurStoryContainer {
    background-image: url("/images/dot-map.svg");
    background-size: contain;
    background-position: center 43%;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
}

.OurStoryContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.OurStoryContent p {
    margin: 0;
}

.OurStoryContent h1 {
    margin: 6rem 0 1.5rem 0;
}

.OurStoryContent a {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
    max-width: 200px;
    cursor: pointer;
    padding: 1rem 2rem 1rem 2rem;
    margin: 2rem 0 5.5rem 0;
}

.OurStoryImage img {
    display: block;
}

.SuccessSection {
    background-color: var(--color-primary);
}

.SuccessContainer {
    background-image: url("/images/Dot-map2.svg");
    background-size: contain;
    background-position: center 43%;
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 6rem;
    min-height: 840px;
}

.SuccessContent {
    position: relative;
}

.HeaderGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.HeaderGroup p {
    color: var(--color-sub3);
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.HeaderGroup span {
    color: var(--color-white);
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.SuccessStats {
    display: flex;
    justify-content: space-between;
}

.StatGroups {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
}

.StatGroups p {
    color: var(--color-sub3);
    font-size: 100px;
    font-weight: 600;
    margin: 0;
}

.StatGroups span {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.SuccessImage {
    position: absolute;
    left: 115px;
    top: calc(100% + 75px);
}

.LogoSection {
    display: flex;
    justify-content: space-between;
    align-items:end;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 4rem;
    min-height: 400px;
}

.TestimonialContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    padding: 6rem 0 8rem 0;
}

.TestimonialImage p {
    margin: 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    color: var(--color-primary);
}

.TestimonialBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1.7rem;
}

.TestimonialBody p {
    margin: 0;
}

.ReviewSection {
    background: var(--bg-color-1) url("/images/kevin-gardner-review.svg") no-repeat right center;
    background-size: 50% auto;
    min-height: 511px;
}

.ReviewContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.ReviewContent {
    width: 50%;
    padding: 5rem 0 4rem 0;

}

.ReviewHeader {
    max-width: 500px;
}

.ReviewHeader p {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-sub3);
    margin: 0;
}

.ReviewHeader span {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-primary);
}

.ReviewText {
    color: var(--review-text-color);
}

.ReviewAuthor {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ReviewAuthor p {
    font-weight: 400;
    font-size: 14px;
    color: var(--review-name-color);
    margin: 0;
}

.ReviewAuthor span {
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    color: var(--review-name-color);
}

.TeamContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TeamContent h2 {
    color: var(--color-sub3);
    font-size: 14px;
    font-weight: 700;
    margin-top: 4rem;
}

.TeamContent p {
    margin: 0;
    margin-bottom: 2rem;
}

.TeamContentTitle {
    color: var(--color-primary);
    font-size: 40px;
    font-weight: 700;
}

.Member-Name {
    margin: 0;
}

.MemberInfo {
    padding: 1rem;
    border: 1px solid #EAEAEA;
}

.MemberInfo p {
    margin: 0;
    color: var(--color-Note-1);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding-bottom: 5rem;
}

.MemberGroup {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 1200px;
}

.InfoCard {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.InfoCardTitle {
    color: var(--color-primary);
    font-size: 22px;
    font-weight: 600;
}

.InfoCardText {
    color: var(--body-text-color);
    font-size: 14px;
    font-weight: 400;
}

.HelpWrapper {
    position: relative;
    background: var(--color-primary);
    border-radius: 3px;
    margin-top: 2rem;
}

.HelpBgImage {
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}

.HelpBgImage img {
    display: block;
    pointer-events: none;
}

.HelpCard {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.6rem;
}

.HelpCardTitle {
    color: var(--color-secondary);
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.HelpCardText {
    color: var(--color-white);
    font-size: 14px;
    margin: 0;
}

.HelpForm input[type="email"] {
    width: 100%;
    padding: 1rem;
    background: var(--color-white);
    color: var(--body-text-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font: 400 14px var(--font-standard);
    outline: none;
    box-shadow: 0 2px 6px rgba(0,0,0,.06);
}

.HelpForm input::placeholder {
    color: var(--color-Note-1);
}

.ServiceDetailGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.ServiceDetailAside {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 25%;
}

.ServiceDetailLine {
    display: block;
    width: 1px;
    background-color: var(--border-color);
    margin: 3rem 0 3rem 0;
}

.Contact-Section--default {
    background-color: var(--bg-color-1);
}

.Contact-Section--contact {
    background-color: var(--color-white);
}

.ServiceDetailContent {
    display: flex;
    flex-direction: column;
    width: 67%;
    margin: 3rem 0 3rem 0;
}

.QuestionContainer {
    padding: 1rem 0 4rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.QuestionTitle {
    margin: 0 0 1rem 0;
    color: var(--color-primary);
    font-size: 25px;
    font-weight: 700;
}

.QuestionForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.FormGroup1 {
    display: flex;
    gap: 1rem;
}

.QuestionForm input,
.QuestionForm textarea {
    width: 100%;
    padding: 0.875rem 1rem;
    background: #fff;
    color: var(--body-text-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    font-size: 13px;
    font-weight: 400;
    outline: none;
}

.QuestionForm textarea {
    min-height: 175px;
    resize: none;
}

.QuestionForm input::placeholder,
.QuestionForm textarea::placeholder{
  color: var(--color-Note-1);
  font-style: italic;
}

.QuestionForm input:focus,
.QuestionForm textarea:focus{
  border-color: var(--color-sub3);
  box-shadow: 0 0 0 3px rgba(217,195,169,.25);
}

.QuestionFormBtn {
    display: inline-block;
    padding: 15px 40px;
    background: var(--color-primary);
    color: var(--color-secondary);
    border: 0;
    border-radius: 3px;
    max-width: 140px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
}

.ContactContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}

.ContactContent h2 {
    max-width: 400px;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.ContactContent p {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.ContactContent span {
    color: var(--body-text-color);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.ContactGroup {
    display:flex;
    flex-direction:column;
    gap: 2rem;
}

.ContactGroupings {
    display: flex;
    gap: 0.5rem;
    align-items:self-start;
}

.ContactGroupings div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.MailIcon {
    padding-top: 4px;
}

.ContactImageGroup {
    position: relative;
}

.ContactImageGroup img {
    display:block;
}

.ContactImageAbsolute {
    position:absolute;
    bottom: 0;
}

.footerContainer {
    background-color: var(--footer-bg-color);
    padding: 1.3rem 0 1.3rem 0;
}

.footerText {
    font-size: 14px;
    width: 100%;
    margin:0;
}

.footerText .footerHighlight {
    color: var(--color-sub3);
}

.footerContent {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}










.rte img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* ================================
   XL (70px)
=================================== */
.text-rte-xl {
    font-size: 70px;
    line-height: 1.2;
}

    .text-rte-xl.font-light {
        font-weight: 300;
    }

    .text-rte-xl.font-regular {
        font-weight: 400;
    }

    .text-rte-xl.font-bold {
        font-weight: 700;
    }

/* ================================
   L (40px)
=================================== */
.text-rte-lg {
    font-size: 40px;
    line-height: 1.3;
}

    .text-rte-lg.font-light {
        font-weight: 300;
    }

    .text-rte-lg.font-regular {
        font-weight: 400;
    }

    .text-rte-lg.font-bold {
        font-weight: 700;
    }

/* ================================
   M (20px)
=================================== */
.text-rte-md {
    font-size: 20px;
    line-height: 1.5;
}

    .text-rte-md.font-light {
        font-weight: 300;
    }

    .text-rte-md.font-regular {
        font-weight: 400;
    }

    .text-rte-md.font-bold {
        font-weight: 700;
    }

/* ================================
   S (16px)
=================================== */
.text-rte-sm {
    font-size: 16px;
    line-height: 1.6;
}

    .text-rte-sm.font-light {
        font-weight: 300;
    }

    .text-rte-sm.font-regular {
        font-weight: 400;
    }

    .text-rte-sm.font-bold {
        font-weight: 700;
    }

/* ================================
   XS (14px)
=================================== */
.text-rte-xs {
    font-size: 14px;
    line-height: 1.6;
}

    .text-rte-xs.font-light {
        font-weight: 300;
    }

    .text-rte-xs.font-regular {
        font-weight: 400;
    }

    .text-rte-xs.font-bold {
        font-weight: 700;
    }

/* Primary Brand Color */
.text-primary {
    color: var(--color-primary);
}

/* Secondary Brand Color */
.text-secondary {
    color: var(--color-sub3);
}

/* Accent / Sub Color */
.text-sub3 {
    color: var(--color-secondary);
}

/* Note / Subtle Text */
.text-note {
    color: var(--color-Note-1);
}

/* General Body Text */
.text-body-text {
    color: var(--body-text-color);
}

/* Body Text Light */
.text-body-text-100 {
    color: var(--color-white);
}


/* Primary Background */
.bg-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Secondary Background */
.bg-secondary {
    background-color: var(--color-sub3);
    color: var(--color-primary);
}

/* Sub Accent Background */
.bg-sub3 {
    background-color: var(--color-sub3);
    color: var(--color-primary);
}

/* Note Background */
.bg-note {
    background-color: var(--color-Note-1);
    color: var(--color-white);
}

/* Body Background */
.bg-body {
    background-color: var(--bg-color-1);
    color: var(--body-text-color);
}

/* White Background */
.bg-white {
    background-color: var(--color-white);
    color: var(--color-primary);
}

/* Border Helper */
.border-default {
    border: 1px solid var(--border-color);
}

.rte-ul {
    list-style-type: disc; 
    padding-left: 1.5rem; 
    margin: 1rem 0; 
    color: var(--body-text-color); 
    font-family: var(--font-standard);
    font-size: 16px;
    line-height: 1.6;
}

    .rte-ul li {
        color: var(--body-text-color);
        font-size: 14px;
        line-height: 1.6;
    }

    .rte-ul li::marker {
        color: var(--color-sub3);
    }