:root {
    --font-standard: "Poppins", sans-serif;
    --color-primary: #4F5955;
    --color-secondary: #F2EDDC;
    --color-sub3: #D9C3A9;
    --color-Note-1: #9C9EA6;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-standard);
    font-size: 16px;
    font-style: normal;
    color: var(--color-primary);
    box-sizing: border-box;
}



.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.topbarContainer {
    background-color: var(--color-primary);
}

.contentGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentGroup p {
    display:flex;
    align-items: center;
    color: #ffffff;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}

.SmGroup {
    display: flex;
    align-items:center;
    justify-content: center;
}

.SmGroup div {
     padding: 1rem;
     border-left: 1px solid var(--color-Note-1);
}

.last {
    border-right: 1px solid var(--color-Note-1);
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    max-width: 1200px;
    width: 100%;
}

.NavHeader {
    display:flex;
    align-items: center;
    justify-content:center;
}

.NavBtns {
    display: flex;
    gap: 4rem;
    list-style: none;
}

.NavBtns a {
     text-decoration: none;
     color: var(--color-primary);
     font-weight: 700; 
}

    .NavBtns a:hover {
        color: var(--color-secondary);
    }

.current a {
    color: var(--color-secondary);
}

.SearchIcon {
    display: flex;
    align-items:center;
    justify-content: center;
}

.Service-Section {
    width: 100%;
    margin: 0;
}

.Service-Section p {
        margin: 0;
        padding: 0;
}

.Hero-Section {
        position: relative;
        height: 500px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top:2rem;
}

.HeroBgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.HeroContent {
    height: 100%;
    max-width:570px; 
}

.HeroContent span {
    margin: 0;
}

.HeroContent p {
    margin: 0;
}

.HeroContent h1 {
      color: var(--color-primary);
      font-size: 70px;
      font-style: normal;
      font-weight: 700;
      margin-top:0;
      margin-bottom: 2rem;
      line-height: 5.5rem
}

.HeroText {
    color: var(--color-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.HeroBtn {
    display: inline-flex;
    padding: 15px 40px;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: var(--color-primary);
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 700;
    font-size:18px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-color: transparent;
}

.Label {
    color: var(--color-sub3);
    font-size: 14px;
    padding-top: 3rem;
    text-align:center;
}

.Service-Title {
    font-size: 40px;
}


.TeamContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TeamContent h2 {
    color: var(--color-sub3);
    font-size: 14px;
    font-weight: 700;
    margin-top: 4rem;
}

.TeamContent p {
    margin: 0;
    margin-bottom: 2rem;
}

.TeamContentTitle {
    color: var(--color-primary);
    font-size: 40px;
    font-weight: 700;
}

.Member-Name {
    margin: 0;
}

.MemberInfo {
    padding: 1rem;
    border: 1px solid #EAEAEA;
}

.MemberInfo p {
    margin: 0;
    color: var(--color-Note-1);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.MemberGroup {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 1200px;
}