@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.HelpCard)Model.Content;
}


<div class="HelpWrapper">
    <div class="HelpBgImage"><img src="~/images/Mail.svg" /></div>
    <div class="HelpCard">
    <h2 class="HelpCardTitle">@content.HelpCardTitle</h2>
    <p class="HelpCardText">@content.HelpCardText</p>
    <form class="HelpForm">
        <label class="HelpFormLabel">
            <input type="email" placeholder="E-mail address" />
	    </label>
        
    </form>
    </div>
</div>