@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{

    var content = (ContentModels.TeamMember)Model.Content;
}

<div class="container">
    @if (content.TeamMemberImage != null)
    {
        <img src="@content.TeamMemberImage.Url()" alt="@content.TeamMemberName"/>
    }
    <div class="MemberInfo">
        <h4 class="Member-Name">@content.TeamMemberName</h4>
        <p class="Member-Role">@content.TeamMemberRole</p>
    </div>

</div>