<?xml version="1.0" encoding="utf-8"?>
<DataType Key="52db225a-790d-4708-9627-9ecd5a33c299" Alias="Contact Section - Contact Label - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Contact Section - Contact Label - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>