<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6682350-fdb6-4b5d-95bb-ca0fa015022a" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "128a2ef9-02a9-44e7-a779-4721ab17e6b1"
    },
    {
      "contentElementTypeKey": "c88356b8-fc0d-497e-96b3-43ecb2026fc0",
      "settingsElementTypeKey": "08e11c89-5963-45ce-ab42-5ae4eaa397f7"
    },
    {
      "contentElementTypeKey": "4e76b2f7-6062-4c21-a0e1-bfd83e88753b",
      "label": "Contact Section"
    },
    {
      "contentElementTypeKey": "1c89c658-4e00-4db5-99d9-80dab061ee0c"
    },
    {
      "contentElementTypeKey": "1966d1c5-75cd-4f12-bee8-2f1767851cb0"
    },
    {
      "contentElementTypeKey": "f40d1742-a0dc-4d4f-9254-273f76296699"
    },
    {
      "contentElementTypeKey": "f7fd7ef0-644b-41d7-8099-55fb561d916a"
    },
    {
      "contentElementTypeKey": "1a937e2a-a32a-4d35-b0db-bd571bc34dfa"
    },
    {
      "contentElementTypeKey": "591b5881-ad84-406b-88ac-b0bb54733a87"
    },
    {
      "contentElementTypeKey": "3b888297-160b-4902-8eca-11b3850687ef"
    },
    {
      "contentElementTypeKey": "3953ec3a-c063-45cc-b865-0de3af96c968"
    }
  ]
}]]></Config>
</DataType>