<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8a7f93e-e940-4224-bee0-c2ca878d9594" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "30229957-3825-4e8f-977f-714bd0c85667"
    },
    {
      "contentElementTypeKey": "fc8c862f-a6ed-400a-a57a-2c4f7475e98b"
    }
  ]
}]]></Config>
</DataType>