<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2589bf2f-a772-4802-8fd4-ac39eed7922c" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "977f2e5f-6ca6-4b26-8aee-1b5e608d2a90",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>