<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71b6f3b4-6663-4587-a8f7-13d4443c6400" Alias="Textstring - Plain" Level="1">
  <Info>
    <Name>Textstring - Plain</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>