<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a702f985-f5ef-4aec-b9dc-97fb73b92954" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a53aa62c-3be7-499c-af40-a93c4acc8fb4">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1437ec40-6484-4eeb-8419-ad25dc95fc68" SortOrder="0">servicePage</ContentType>
    <ContentType Key="1cee43e6-1a44-4694-a5c5-1e8baf81c6c7" SortOrder="1">contactPage</ContentType>
    <ContentType Key="bb0fc2c5-04eb-4de0-a4ae-aa9c7d98fde5" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>95614f81-ca54-4605-ae25-29531e10b692</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>d6682350-fdb6-4b5d-95bb-ca0fa015022a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>969a3d4b-2bc7-4285-9878-cbb0cbac33aa</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>